.form-container, .success-container {
  margin: 0 auto;
  padding: 20px;
  max-width: 500px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

form div {
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
}

input, select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[disabled] {
  background-color: #cccccc;
}

.error {
  color: red;
  font-size: 0.8em;
}
